* {
  box-sizing: border-box;
}

.mat-drawer-container {
  height: 100vh;
}

mat-icon {
  cursor: pointer;
}

.sidenav {
  width: 300px;
}

.logo-container {
  padding: 16px;
  min-height: 56px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

mat-toolbar,
mat-toolbar-row {
  height: 56px;
  min-height: 56px;
  padding: 0px;
}

.menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    padding-left: 16px;
    padding-right: 16px;
    height: 48px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
    }

    mat-icon {
      margin-right: 16px;
    }
  }
}
